@import "tailwindcss";

:root {
  --background: #121212;
  --sidebar: #000000;
  --card: #181818;
  --hover: #282828;

  --primary: #1db954;
  --secondary: #22c55e;

  --text: #ffffff;
  --muted: #b3b3b3;
  --border: #303030;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}